<!--
<pre>
        <%- JSON.stringify(people, null, 2) %>
</pre>
-->
<h2>DataLab People</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Identity</th>
      <th scope="col">Full Name</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% people.forEach((person, index) => { %>
    <tr>
      <th scope="row"><%= index+1 %></th>
      <td><%= person.studentID %></td>
      <td><%= person.fullName %></td>
      <td><%= person.emailAddress[0] %></td>
      <td><form method="POST" action="/people/delete/<%= person.studentID %>?_method=DELETE" class="form-inline"><a href="/people/search/id/<%= person.studentID %>" class="card-link btn btn-primary" role="button">View</a> <a href="/people/edit/<%= person.studentID %>" class="card-link btn btn-primary" role="button">Edit</a> &nbsp; &nbsp; &nbsp; <button type="submit" class="btn btn-primary">Delete</button></form></td>
    </tr>
    <% }); %>
  </tbody>
</table>