<label>Project Code: </label> <br>
<input type="text" name="projectCode" value="<%= project.projectCode %>"> <br>
<label>Project name:</label> <br>
<input type="text" name="projectName" value="<%= project.projectName %>"> <br>
<label>Project Description:</label> <br>
<textarea name="projectDescription" cols="30" rows="10"><%= project.projectDescription %></textarea> <br>
<label>Project Team Members:</label> <br>
<% interns.forEach((intern, index) => { %>
    <input type="checkbox" name="responsibility[<%= index %>]" value="<%= intern.fullName %>"> <%= intern.fullName %> <br>
<% }); %> <br>
<input type="submit" value="Add Project">
