<!--
<pre>
        <%- JSON.stringify(projects, null, 2) %>
</pre>
-->
<h2>DataLab Projects</h2>
<table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Project ID</th>
                    <th scope="col">Project Name</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <% projects.forEach((project, index) => { %>
                  <tr>
                    <th scope="row"><%= index+1 %></th>
                    <td><%= project.projectCode %></td>
                    <td><%= project.projectName %></td>
                    <td><form method="POST" action="/projects/delete/<%= project.projectCode %>?_method=DELETE" class="form-inline"><a href="/projects/search/project/<%= project.projectCode %>" class="card-link btn btn-primary" role="button">View</a> <a href="/projects/edit/<%= project.projectCode %>" class="card-link btn btn-primary" role="button">Edit</a> &nbsp; &nbsp; &nbsp; <button type="submit" class="btn btn-primary">Delete</button></form></td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>