<!--
<pre>
        <%- JSON.stringify(interns, null, 2) %>
</pre>
-->
<h2>DataLab People</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Identity</th>
      <th scope="col">Full Name</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% interns.forEach((intern, index) => { %>
    <tr>
      <th scope="row"><%= index+1 %></th>
      <td><%= intern.studentID %></td>
      <td><%= intern.fullName %></td>
      <td><%= intern.emailAddress[0] %></td>
      <td><form method="POST" action="/interns/delete/<%= intern.studentID %>?_method=DELETE" class="form-inline"><a href="/interns/search/id/<%= intern.studentID %>" class="card-link btn btn-primary" role="button">View</a> <a href="/interns/edit/<%= intern.studentID %>" class="card-link btn btn-primary" role="button">Edit</a> &nbsp; &nbsp; &nbsp; <button type="submit" class="btn btn-primary">Delete</button></form></td>
    </tr>
    <% }); %>
  </tbody>
</table>