<!--
<pre>
        <%- JSON.stringify(interns, null, 2) %>
</pre>
-->
<h2>DataLab People</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Identity</th>
      <th scope="col">Full Name</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% interns.forEach((intern, index) => { %>
    <tr>
      <th scope="row"><%= index+1 %></th>
      <td><%= intern.studentID %></td>
      <td><%= intern.fullName %></td>
      <td><%= intern.emailAddress[0] %></td>
      <td><a href="/interns/search/id/<%= intern.studentID %>" class="btn btn-primary" role="button">View</a>  <a href="/interns/edit/<%= intern.studentID %>" class="btn btn-primary" role="button">Edit</a> <!-- <a href="/interns/delete/<%= intern.studentID %>?_method=DELETE" class="btn btn-primary" role="button">Delete</a>--></td>
    </tr>
    <% }); %>
  </tbody>
</table>