<!--
<pre>
        <%- JSON.stringify(intern, null, 2) %>
</pre>
-->
<div class="card border-dark mb-3" style="max-width: 30rem;">
                <div class="card-header">DataLab User Profile</div>
                <div class="card-body">
                  <h5 class="card-title"><%= intern.fullName %></h5>
                  <h6 class="card-subtitle mb-2 text-muted">Email: <%= intern.emailAddress %></h6>
                  <h6 class="card-subtitle mb-2 text-muted">Phone: <%= intern.phoneNumber %> </h6>
                  <h6 class="card-subtitle mb-2 text-muted">Address: <%= intern.residentialAddress %></h6>
                  <p class="card-text">[Profile details would go here]</p>
                  <!--<a href="/interns/delete/<%= intern.studentID %>?_method=DELETE" class="card-link btn btn-primary" role="button">Delete</a>-->
                  <form method="POST" action="/interns/delete/<%= intern.studentID %>?_method=DELETE" class="form-inline"><a href="/interns/search/id/<%= intern.studentID %>" class="card-link btn btn-primary" role="button">View</a> <a href="/interns/edit/<%= intern.studentID %>" class="card-link btn btn-primary" role="button">Edit</a> &nbsp; &nbsp; &nbsp; <button type="submit" class="btn btn-primary">Delete</button></form>

                </div>
              </div>